* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html,body{
  height:100%;
}

body {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.start-screen, .game-over-screen{
  height:100%;
  background-color: black;
  opacity: 0.85;
} 

.content{
  position:absolute;
  top: 50%;
  left: 50%;
  opacity: 0.8;
  width:420px;
  /* background-color: transparent; */
  transform: translate(-50%, -50%);
  
}

.instructions{
  /* opacity: 1; */
  /* background-color:grey; */
  color:white;
  border-width: 3px;
  /* display: block; */
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
    blue, 
      rgba(0, 0, 0, 0)
    ) 1 100%;

    font-size:20px;
}

.instructions-content{
  padding: 10px;
}



.button {
  border: 1px solid white;
  border-radius: 20px;
  display:block;
  background-color: black;
  /* opacity: 0.5; */
  /* border: none; */
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  /* opacity: 0.9; */
  margin: 10px auto;
}

.menu-button, .home-button{
  width: 80px;
  padding:10px;
  /* text-align: left; */
  margin:0;
  display: inline-block;
  /* float: left; */
}

.home-button{
  position:absolute;
  left: -100px;
}

.instruction-title{
  display: inline-block;
  text-align: center;
  width:70%;

  /* float: right; */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

/* .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
} */

.button:hover span {
  font-size: 35px;
}

.button:hover{
  background-color: grey;
  /* color:blue; */

  /* opacity:0.5; */
}

.game-name, .game-over{
  color:white;
  width:100%;
  padding: 40px 20px 0px 20px;
  font-size: 70px;
  margin:0 auto;
  text-align: center;
}

/* .game-over{
  
} */

/* .game-over {
  position: absolute;
  top: 100px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
} */

.game-screen{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 100%;  */
  /* height: 100%;             */
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}


/* .screen-button{
  display: block;
  background-color: transparent;
  color:white;
  font-size: 20px;
  text-decoration: double;
  width: 100%;
  padding:20px;
}

.screen-button:hover{
  background-color: grey;

} */

/* .start-button{
  position: relative;
  top:200px;
} */



.hide {
  display: none;
}

.game {
  position: relative;
  display: inline-grid;
  background: black;
  /* display: table;
  border-collapse:collapse */
}



/* .game-over-button{
  position: relative;
  top: 200px;
} */


.square {
  display: block;
}

.blank {
  background: black;
}

.wall {
  /* border: 1px solid black; */
  background-image: radial-gradient(blue, #0000cc,#000099,#000066);
  /* background-color: #0D4F8B; */
  /* background-color: #104E8B; */
  /* background-color:#003F87; */
  /* background-color:#3333ff; */
  /* display: table-cell; */
  /* border-collapse:initial; */

}

.dot {
  background: white;
  border: 10px solid black;
  border-radius: 50%;
}

.pill {
  background: white;
  border: 7px solid black;
  border-radius: 50%;
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}

.pacman {
  background: yellow;
  border: none;
  border-radius: 50%;
  clip-path: polygon(
    0 0,
    25px 0,
    25px -7px,
    10px 12px,
    25px 30px,
    25px 25px,
    0 25px
  );
  animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      25px 0,
      25px 12px,
      8px 12px,
      25px 12px,
      25px 25px,
      0 25px
    );
  }
}

/* .board{ */
  /* display:inline-block; */
  /* width:40px; */
  /* float:left; */
/* } */

.stats{
  position: absolute;
  right:-220px;
  top:0px;
  width: 200px;
  background-color: black;
  border: 5px darkblue solid;

  /* display:inline-block; */
  /* width:200px; */
  /* float:right; */
  /*position: relative;
  left:20px; */
}

.rl-stats{
  color:white;
  padding: 10px;
  /*background: black;
   */

}


.score-box {
  /* width: 200px; */
  /* height: 30px;
  border: 5px darkblue solid;
  background: black;
  width:300px; */
  /* margin-top: 20px; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding:10px;
}


