* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  position: relative;
  width: 430px;
  height: 400px;
  left: 400px;
  top: 100px;
}


.game-screen{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
}

.start-screen{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: black;
}

.screen-button{
  display: block;
  background-color: transparent;
  color:white;
  width: 100%;
  padding:10px;
}

.start-button{
  position: relative;
  top:200px;
}

.game-over-screen{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: black;
}

.hide {
  display: none;
}

.game {
  position: relative;
  display: inline-grid;
  background: black;
}

.game-over {
  position: absolute;
  top: 100px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.game-over-button{
  position: relative;
  top: 200px;
}

.score {
  position: relative;
  left:100px;
  width: 200px;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  margin-top: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}


.square {
  display: block;
}

.blank {
  background: black;
}

.wall {
  /* border: 1px solid black; */
  background-color: blue;
}

.dot {
  background: white;
  border: 10px solid black;
  border-radius: 50%;
}

.pill {
  background: white;
  border: 7px solid black;
  border-radius: 50%;
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}

.pacman {
  background: yellow;
  border: none;
  border-radius: 50%;
  clip-path: polygon(
    0 0,
    25px 0,
    25px -7px,
    10px 12px,
    25px 30px,
    25px 25px,
    0 25px
  );
  animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      25px 0,
      25px 12px,
      8px 12px,
      25px 12px,
      25px 25px,
      0 25px
    );
  }
}