* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html,body{
  height:100%;
}

body {
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.start-screen, .game-over-screen{
  height:100%;
  background-color: black;
  opacity: 0.85;
} 

.content{
  position:absolute;
  top: 50%;
  left: 50%;
  opacity: 0.8;
  width:420px;
  transform: translate(-50%, -50%);
  
}

.instructions{
  color:white;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
    blue, 
      rgba(0, 0, 0, 0)
    ) 1 100%;

    font-size:20px;
}

.instructions-content{
  padding: 10px;
}



.button {
  border: 1px solid white;
  border-radius: 20px;
  display:block;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px auto;
}

.menu-button, .home-button{
  width: 80px;
  padding:10px;
  /* text-align: left; */
  margin:0;
  display: inline-block;
  /* float: left; */
}

.home-button{
  position:absolute;
  left: -100px;
}

.instruction-title{
  display: inline-block;
  text-align: center;
  width:70%;

  /* float: right; */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

/* .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
} */

.button:hover span {
  font-size: 35px;
}

.button:hover{
  background-color: grey;
  /* color:blue; */

  /* opacity:0.5; */
}

.game-name, .game-over{
  color:white;
  width:100%;
  padding: 40px 20px 0px 20px;
  font-size: 70px;
  margin:0 auto;
  text-align: center;
}

.game-screen{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.para-title{
  font-size:20px;
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


.hide {
  display: none;
}

.game {
  position: relative;
  display: inline-grid;
  background: black;
}

.square {
  display: block;
}

.blank {
  background: black;
}

.wall {
  background-image: radial-gradient(blue, #0000cc,#000099,#000066);

}

.dot {
  background: white;
  border: 10px solid black;
  border-radius: 50%;
}

.pill {
  background: white;
  border: 7px solid black;
  border-radius: 50%;
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}

.pacman {
  background: yellow;
  border: none;
  border-radius: 50%;
  clip-path: polygon(
    0 0,
    25px 0,
    25px -7px,
    10px 12px,
    25px 30px,
    25px 25px,
    0 25px
  );
  animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      25px 0,
      25px 12px,
      8px 12px,
      25px 12px,
      25px 25px,
      0 25px
    );
  }
}


.stats{
  position: absolute;
  right:-220px;
  top:0px;
  width: 200px;
  background-color: black;
  border: 5px darkblue solid;

}

.rl-stats{
  color:white;
  padding: 10px;

}


.score-box {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding:10px;
}


